*{}

.s:before {content: "";width: 2px;height: 50px;background: white;position: absolute;margin-left: 0px;}

.s:after {content: "";width: 50px;height: 2px;background: white;position: absolute;margin-top: 25px;margin-left: -25px;}

.bxe .s {
    position: absolute;
    width: 50px;
    height: 50px;
    background: green;
    border-radius: 50%;
    bottom: 0;
    left: 0;
    margin-bottom: -25px;
    margin-left: 25px;
    transition: 2s;
    border: 5px solid white;
}

.bxe:hover ._1 {
    animation: quay 5s ease-in-out infinite;
    
}
.bxe:hover ._2 {
    animation: quay 5s ease-in-out infinite;
    
}
@-webkit-keyframes quay {
 0%{
     transform: rotate(0) ;
     
 }
 100%{
     transform: rotate(360deg) ;
 }
}
.s._2 {
    margin-left: 125px;
    /* right: 0; */
}

.car {
    position: relative;
    width: 200px;
    height: 80px;
    margin: auto;
}

.box {
    width: 200px;
    height: 80px;
    background: gray;
    border-radius: 5px;
}